.option {
  margin: 0;
  appearance: none;
  width: 2.5rem;
  height: 2.5rem;
  border: 3px solid var(--color-blue);
  background-color: var(--color-white-shade);
  border-radius: 50%;
  transition: .2s ease-in-out;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.option:before {
  content: "";
  width: 50%;
  height: 50%;
  border-radius: 50%;
  transform: scale(0);
  transition: .15s transform ease-in-out;
  background-color: var(--color-blue);
}

.option:checked:before {
  transform: scale(1);
}

.option-control {
  position: relative;
  z-index: 1;
}